@font-face {
    font-family: 'perfect_dos_vga_437_winRg';
    src: url('fonts/perfect_dos_vga_437_win-webfont.woff2') format('woff2'),
         url('fonts/perfect_dos_vga_437_win-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


html {
    color: #36d80e;
    font-family: 'perfect_dos_vga_437_winRg';
    font-weight: 100;
}

body {
    background-image: url(images/background_theMatrix.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

h1 {
    
    color: black;
    text-align: center;
}S

ul {
    padding: 3em;
}

div {
    text-align: left;
}

#faultyItems {
    background-color: black;
    visibility: hidden;
}

#launchForm {
    background-color: black;
    text-align: center;
    margin: auto;
    width: 25%;
    border: 3px solid black;
    padding: 10px;
}

#launchStatusCheck {
   
    background-color: black;
    text-align: center;
    margin: 50px auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
}

#missionTarget img {
    max-width: 40%;
    max-height: 250px;
}

#missionTarget {
    visibility: hidden;
    background-color: black;
    text-align: center;
    margin: 50px auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
}

button {
    background-color: #021b0d;
    border: none;
    color: #36d80e;
    border-radius: 8px;
    width: 25%;
    height: 30px;
    margin: 10px 0;
}
